body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-left: 100px;
}

table {
  margin-left: 100px;
  border: 3px solid black;
  border-collapse: collapse;
}

thead {
  background-color: darkgrey;
  background-color: #CCC;
}

th, td {
  border-right: 3px solid black;
  padding: 10px 100px 10px 10px;
  height: 1em;
  text-align: left;
}

.alt {
  background-color: lightgrey;
  background-color: #EEE;
}